# Site settings
title: Vox Pupuli
description: >
  Vox Pupuli is a collective of Puppet module, tooling and documentation
  maintainers working together for the greater good.
baseurl: ""
url: "https://voxpupuli.org"
github_username:  voxpupuli
twitter_username: voxpupuliorg

# Build settings
markdown: kramdown
encoding: utf-8
timezone: Etc/UTC
permalink: /blog/:year/:month/:day/:title/
kramdown:
  hard_wrap: false
  input: GFM
  syntax_highlighter: rouge

collections:
  docs:
    output: true
  sponsors:
    output: false
  support:
    output: false

# See https://fontawesome.com/search for the icon syntax
navigation:
  - title: About
    entries:
      - title: Documentation
        url: /docs/
        icon: fas fa-book
      - title: Leadership
        url: /elections/
        icon: fas fa-people-group
      - title: Security
        url: /security/
        icon: fas fa-shield-halved
  - title: Projects
    entries:
      - title: Projects Overview
        url: /projects/
        icon: fas fa-signs-post
      - title: OpenVox
        url: /openvox/
        icon: fas fa-meteor
      - title: Plugins
        url: /plugins/
        icon: fas fa-puzzle-piece
      - title: How to contribute
        url: /contributing/
        icon: fas fa-screwdriver-wrench
      - title: GitHub
        url: https://github.com/voxpupuli
        icon: fab fa-github
  - title: Connect
    entries:
      - title: Blog
        url: /blog/
        icon: fas fa-newspaper
      - title: Slack
        url: https://short.voxpupu.li/puppetcommunity_slack_signup
        icon: fab fa-slack
      - title: Other Channels
        url: /connect/
        icon: fas fa-comments
      - title: VoxConf
        url: /voxconf/
        icon: fas fa-person-chalkboard
      - title: Code of Conduct
        url: /coc/
        icon: fas fa-users
  - title: Sponsoring
    url: /sponsoring/
    icon: fas fa-money-bill-wave

footer:
  - title: Privacy Policy
    url: /privacy-policy/
  - title: Code of Conduct
    url: /coc/
  - title: Security
    url: /security/
  - title:  Dual license (CC BY-SA 4.0 + Apache 2.0)
    url: /license/

subsections:
  openvox:
    - title: Quickstart
      url: /openvox/quickstart/
      icon: fas fa-hourglass-start
    - title: Install
      url: /openvox/install/
      icon: fas fa-download
    - title: Standards
      url: /openvox/standards/
      icon: fas fa-users-rays
    - title: Support
      url: /openvox/support/
      icon: fas fa-headset
    - title: VPAT
      url: /openvox/vpat/
      icon: fas fa-landmark

exclude: ["Gemfile", "Gemfile.lock", "LICENSE", "README.md", "CNAME", "vendor"]

plugins:
  - jekyll-last-modified-at
  - jekyll-redirect-from
