<div id="footer">
  <div class="container">
    <p class="text-muted">
      Get in touch! <a href="mailto:voxpupuli@groups.io">Mailinglist voxpupuli@groups.io</a> (<a href="https://groups.io/g/voxpupuli/topics">Webinterface</a>) |
      <a href="irc://irc.freenode.net/voxpupuli">#voxpupuli on irc.freenode.net</a> (<a href="https://webchat.freenode.net/?channels=%23voxpupuli">Webinterface</a>) |
      <a href="https://puppetcommunity.slack.com/messages/voxpupuli/">Vox Pupuli on Slack</a> |
      <a href="license/">Dual license (CC BY-SA 4.0 + Apache 2.0)</a></p>
  </div>
</div>
