<div id="footer">
  <div class="container">
    <p class="text-muted">
      Get in touch!
      <a href="mailto:voxpupuli@groups.io">Mailinglist voxpupuli@groups.io</a> (<a href="https://groups.io/g/voxpupuli/topics">Webinterface</a>) |
      <a href="ircs://irc.libera.chat:6697">#voxpupuli on Libera</a> (<a href="https://web.libera.chat/?#voxpupuli">Webinterface</a>) |
      <a href="https://matrix.to/#/!xKkvgsGCsiWDhqCMMZ:libera.chat">#voxpupuli on Libera via Matrix</a> |
      <a href="https://voxpupuli.slack.com/">Vox Pupuli on Slack</a> 
      <a href="https://voxpupuli.org/license/">Dual license (CC BY-SA 4.0 + Apache 2.0)</a></p>
  </div>
</div>
