<div id="footer">
  <div class="container">
    <div class="navbar navbar-expand">
      <ul class="navbar-nav ms-auto">
        {% for link in site.footer %}
          {% assign active = nil %}
          {% if page.url contains link.url %}
            {% assign active = 'active' %}
          {% endif %}

          <li class="nav-item">
           <a class="nav-link {{ active }}" href="{{ link.url }}" data-proofer-ignore>{% if link.icon %}<i class="fa {{ link.icon }}"></i> {% endif %}{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
