<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'current' %}
        {% endif %}
        <li class="{{ current }}"><a href="{{site.url}}{{site.baseurl}}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://ci.voxpupuli.org"><i class="fa fa-stethoscope"></i> CI</a></li>
      <li><a href="https://github.com/voxpupuli"><i class="fa fa-github"></i> Github</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
</nav>
