<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" href="/"><img class="logo" src="{{site.url}}{{site.baseurl}}/static/images/8bit-vox.png" alt="{{ site.title }}"> {{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      {% for item in site.navigation %}
        {% if item.entries == nil %}
          {% assign entries = "" | split: "," | push: item %}
        {% else %}
          {% assign entries = item.entries %}
          <div class="submenu">
          <span class="nav-header">{{ item.title }}</span>
          <ul class="nav-menu ms-auto submenu-content">
        {% endif %}

        {% for link in entries %}
          {% assign active = nil %}
          {% if page.url contains link.url %}
            {% assign active = 'active' %}
          {% endif %}
          <li class="nav-item">
	         <a class="nav-link {{ active }}" href="{{ link.url }}" data-proofer-ignore>{% if link.icon %}<i class="fa {{ link.icon }}"></i> {% endif %}{{ link.title }}</a>
          </li>
        {% endfor %}

        {% if item.entries != nil %}
          </ul>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  </div>
</nav>

{% if page.subsection %}
{% include subsection.html %}
{% endif %}

<div class="container pt-3">
  {% include breadcrumbs.html %}
</div>
