<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.url %}
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'/index.html','/' }}">
{% endif %}

{% if page.github_username != nil %}
  <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  <meta property="og:type" content="article">
  <meta property="article:author" content="https://github.com/{{ page.github_username }}">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
      <meta property="article:section" content="{{ category }}">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ site.description }}">
{% endif %}
