.logo {
  max-width: 32px;
  display: inline-block!important;
}

.voxpupuli-intro {
  background: url('/static/images/blue-skies.jpg');
  background-size: cover;
  background-position: 50%;
}

.voxpupuli-intro .row h1 {
  text-align: center;
}

/* keep the long heading from disrupting flow if it wraps at narrow widths */
.voxpupuli-intro .row .panel-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-body .github-stat {
  font-size: 1.25em;
  line-height: 1.4em;
}

/* minimal styling for the docs index page listing */
ul.docs-index {
  list-style-type: none;
  padding-left: 0;
}

ul.docs-index h3 {
  margin: 0;
}

ul.docs-index li {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 0.5em;
}
ul.docs-index li:hover {
  border: 1px solid #ccc;
  background-color: #fefefe;
}

/* make the breadcrumb position match the right nav list, but pinned to the bottom */
.navbar-left {
  clear: left;
  padding-top: 30px;
}

div.mermaid {
  border: 1px solid #aaa;
  background-color: white;
  border-radius: 3px;
  padding: 1em;
  margin: 1em;
  box-shadow: 2px 2px 4px #ccc;
}
