---
layout: default
---
<h1>{{ page.title }}
  {% include edit_button.html %}
</h1>
<p>
  <i>Version {{ page.version}}</i><br />
  Published on {{ page.date | date: "%b %-d, %Y" }}{% if page.github_username %} by <a href="https://github.com/{{page.github_username}}">{{ page.github_username }}{% endif %}</a>
</p>
<article>
  <p>{{ page.summary }}</p>

  {{ content }}

  <script src="//cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>

</article>
