---
layout: default
---
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>{{ page.title }}
      <a style="float: right;" class="btn btn-raised btn-xs" href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/edit/master/{{ page.path}}">Edit <i class="glyphicon glyphicon-edit"></i></a></h1>
    </h1>
    <p>Published on {{ page.date | date: "%b %-d, %Y" }}{% if page.github_username %} by <a href="https://github.com/{{page.github_username}}">{{ page.github_username }}{% endif %}</a></p>
    <article>
      {{ content }}
    </article>
  </div>
</div>
