---
layout: default
---
<h1>{{ page.title }}
  {% include edit_button.html %}
</h1>
<p>Published on {{ page.date | date: "%b %-d, %Y" }}{% if page.github_username %} by <a href="https://github.com/{{page.github_username}}">{{ page.github_username }}</a>{% endif %}. {% if page.last_updater %}Last updated on {{ page.last_modified_at | date: "%b %-d, %Y" }}{% if page.last_updater %} by <a href="https://github.com/{{page.last_updater}}">{{ page.last_updater }}{% endif %}</a>.{% endif %}</p>
<article>
  {{ content }}
</article>
